* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

header {
    background-color: #306BB3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
}

.HeaderNav {
    display: flex;
    gap: 80px;
    list-style: none;
}

.onlinenav {
    display: flex;
    justify-content: center;
    gap: 300px;
    flex-direction: row;
    list-style: none;
    margin-top: 50px;
}

#logo {
    width: 150%;
    height: 55%;
}

footer {
    position: absolute;
    width: 1519px;
    left: 0px;
    top: 956px;
    
    background: #306BB3;
}

.vertical{
    display: flex;
    flex-direction: column;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 150%;
    color: #486284;

}

.firstp {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: black;
}

ul {
    list-style: none;
}

.grid{
    display: grid;
}